<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Linking bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

<!-- Animate -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet" />
  <!-- linking simple css -->
  <link rel="stylesheet" href="css/reg.css">
  <link rel="stylesheet" href="css/footer.css">
  
  
  
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">


  <title>Make Pet Family</title>

  
</head>


<body onload="render()">
  <div id="loading" style="position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('css/images/loader.gif')
	 no-repeat center center;	
	z-index: 99999;">

  </div>
  
  {{>navbar}}

  <section id="motivation-thought" class="c-wrapper">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div id="carousel-inner2" class="carousel-inner">
        <div id="carousel-item2" class="carousel-item active" data-bs-interval="8000">
          <img src="css/images/buy-1.gif" class="d-block w-100" alt="...">
        </div>
        <div id="carousel-item2" class="carousel-item" data-bs-interval="8000">
          <img src="css/images/buy-2.gif" class="d-block w-100" alt="...">
        </div>
        <div id="carousel-item2" class="carousel-item" data-bs-interval="8000">
          <img src="css/images/buy-3.gif" class="d-block w-100" alt="...">
        </div>
        <div id="carousel-item2" class="carousel-item" data-bs-interval="8000">
          <img src="css/images/buy-4.gif" class="d-block w-100" alt="...">
        </div>
        
        
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      

    </div>
  
  </section>
  

<div id="select-pet">
    <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
      data-aos-mirror="true" data-aos-once="false">
      <h2 id="select" class="select-adopt select-adopt">Select Pet To Buy</h2>
    </div>

    <div class="container-fluid adopt-container  ">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top" src="css/images/my-lab.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dog</h5>
              <p class="card-text">“A dog is the only thing on earth that loves you more than he loves himself.”</p>
              <a  href="/authenticate-buy-dog">

                <div class="normal-button text-center">


                  Make Your pet

                  <i class="fa fa-dog"></i>
                </div>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top my-cat" src="css/images/my-cat.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cat</h5>
              <p class="card-text">" Time spent with cats is never wasted."</p>
              <a href="/authenticate-buy-cat">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-cat"></i>
                </div>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top bird" src="css/images/best-bird.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bird</h5>
              <p class="card-text">" The presence of a single bird can change everything for one who appreciates them."
              </p>
              <a href="/authenticate-buy-bird">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-dove"></i>
                </div>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top rabbit" src="css/images/my-rabbit.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Rabbit</h5>
              <p class="card-text">“A rabbit's foot may bring good luck to you "</p>
              <a href="/authenticate-buy-rabbit">

                <div class="normal-button ">


                  Make Your pet

                 <i class="fa fa-cat"></i>
                </div>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top cow" src="css/images/my-cattle.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cattle</h5>
              <p class="card-text">"Cow is treated as the highest and most pious animal for Hindus."</p>
              <a href="/authenticate-buy-cattle">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-cow"></i>
                </div>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top fish" src="css/images/my-fish.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fish</h5>
              <p class="card-text">"Fish symbolizes patience, and it teaches us to stay calmer during challenging
                situations."</p>
              <a href="/authenticate-buy-fish">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
                </a>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

  <div class="scroll-top">
    <h2>If You Want to Buy or Sell your pet </h2>
    <h4>click below button to navigate to our website </h4>
    <button id="scrollToTopBtn">☝️</button>
  </div>



  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted footer">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom footer-social"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block ">
      <span class="logo-text">Get connected with me on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="social-logo">
      <a href="https://www.facebook.com/profile.php?id=100067140832883" target="_blank" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      
      <a href="https://www.instagram.com/abhay_desire_yt/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/ab-ideas-9669711b5/"  target="_blank"class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Abdev1205" target="_blank"class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="footer-content">
    <div class="container text-center text-md-start mt-5 footer-content-start">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 abhay">
            <i class="fas fa-user-tie font-awesome-abhay"></i> Abhay Mishra
          </h6>
          
          <p class="stack">
            Full Stack Mern Web Developer
          </p>

          <p>
            <a href="#" target="_blank" style="text-decoration: none;" class="text-reset">About Me</a>
          </p>

          <p>
            <a href="https://abhay1205mishra.github.io/devab.github.io/" target="_blank" style="text-decoration: none;" class="text-reset">Portfolio Website</a>
          </p>

          <p>
            <a href="#" target="_blank" style="text-decoration: none;" class="text-reset">Resume</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" style="text-decoration: none;" class="text-reset">Portfolio Website</a>
          </p>
          <p>
            <a href="#!" style="text-decoration: none;" class="text-reset">Make Pet Family</a>
          </p>
          <p>
            <a href="#!" style="text-decoration: none;" class="text-reset">Coming Soon</a>
          </p>
          <p>
            <a href="#!" style="text-decoration: none;" class="text-reset">Coming Soon</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links 
          </h6>
          <p>
            <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="_blank" style="text-decoration: none;" class="text-reset">Wed Development Course</a>
          </p>
          <p>
            <a href="https://stackoverflow.com/" target="_blank" style="text-decoration: none;" class="text-reset">Rectify your error</a>
          </p>
          <p>
            <a href="https://github.com/" target="_blank" style="text-decoration: none;" class="text-reset">Programmers Community</a>
          </p>
          <p>
            <a href="https://www.google.com/" target="_blank" style="text-decoration: none;"  class="text-reset">Best Source for programmer</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Korba Chattisgarh India 495452</p>
          <p>
            <i class="fas fa-envelope me-3"></i><a href = "mailto:abhay.mishra2021@vitbhopal.ac.in?subject = Feedback&body = Message" target="_blank" style="text-decoration: none; color:#7e7e7e;">My Email
            
          </p>
          
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div  class="text-center footer-copyright p-4">
    <span class="c">

    © 2021 Copyright:
    </span>
     <a href="https://abhay1205mishra.github.io/devab.github.io/" target="_blank" style="text-decoration: none;" class="text-reset">Abhay Mishra</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

  
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
   
<script>
    var preloader = document.getElementById("loading");

    function render() {
      preloader.style.display = 'none';
    }
  </script>
</script>
</body>
</html>