<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Linking bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <!-- Animate -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet" />
  <!-- linking simple css -->
  <link rel="stylesheet" href="css/reg.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/style.css">





  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">


  <title>Make Pet Family</title>


</head>


<body onload="render()">
  <div id="loading" style="position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('css/images/loader.gif')
	 no-repeat center center;	
	z-index: 99999;">

  </div>

  {{>navbar}}

  <!-- top moving text  -->
  <div class="up-move-text">
    <h1 id="marque" class="side-move-text "><span id="side-important">

      </span id="side-moving-text ">
      <marquee direction=”left”>
        <p>
          Due to Less Seller of pet, We are Having Limited pets Available.
          And if your preferred Pets is not Available then we are extremely
          sorry but We will try our best to provide your preferred pet. Thank You For Visiting to our website</p>
      </marquee>

      </span>
  </div>


  <!-- code start from here  -->

  <div id="select-pet-responsive">


    <div>
      <h2 class="select-adopt">Select Fish Breed To Buy</h2>
    </div>

    <div class="container-fluid adopt-container ">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="100"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top nari" src="css/images/danios.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title dog-card-title">Danios</h5>
              <p class="card-text">
              <ul class="dog-list">
                <li>
                  This fish is a hardy freshwater fish that can be owned by beginners.
                </li>

                <li>
                  These fish can survive a range of water conditions.
                </li>


                <li>
                  They are super fun to watch and are generally quite active.
                </li>
              </ul>
              </p>
              <a href="adopt-check">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top " src="css/images/guppy.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title dog-card-title">Guppy</h5>
              <p class="card-text">
              <ul class="dog-list">
                <li>
                  The guppy is one of the most colourful freshwater fish that you can lay your hands on.
                </li>

                <li>
                  They can be found in a spectrum of colours.
                </li>

                <li>
                  Guppies can, however, go for days without food and hence, are easy to take care of.
                </li>
              </ul>
              </p>
              <a href="adopt-check">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top malvi" src="css/images/Dwarf-Gourami.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title dog-card-title">Dwarf Gourami</h5>
              <p class="card-text">
              <ul class="dog-list">


                <li>
                  The dwarf gourami can exist in tanks that have an oxygen deficit.
                </li>

                <li>
                  They come to the surface to breathe.
                </li>

                <li>
                  It is a peaceful species which can dwell well with other species of fish.
                </li>


              </ul>
              </p>
              <a href="adopt-check">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top nari" src="css/images/Cherry-Barb.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title dog-card-title">Cherry Barb</h5>
              <p class="card-text">
              <ul class="dog-list">
                <li>
                  This is a tiny and peaceful fish that will feel at home.
                </li>

                <li>
                  They are simple to maintain and feed. Keep live plants to entertain your cherry barb
                </li>




              </ul>
              </p>
              <a href="adopt-check">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top nari " src="css/images/betta.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title dog-card-title">Betta</h5>
              <p class="card-text">
              <ul class="dog-list">
                <li>
                  The betta is not exactly a beginner’s fish due to its aggressive nature
                </li>

                <li>
                  It is safe then, to have a single fish in your tank.
                </li>

                <li>
                  It is a stunning fish with long and colourful fins.
                </li>


              </ul>
              </p>
              <a href="adopt-check">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-offset="200"
          data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
          <div class="card adopt-card" style="width: 18rem;">
            <img class="card-img-top boxer" src="css/images/black-molly.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title dog-card-title">Black Molly

              </h5>
              <p class="card-text">

              <ul class="dog-list">
                <li>
                  The black molly is the most beautiful fish you can have in a tank.
                </li>

                <li>
                  Its deep black has an alluring feel to it.
                </li>

                <li>
                  The fish can be moved from one tank to another and yet feel at home.
                </li>


              </ul>
              </p>
              <a href="adopt-check">

                <div class="normal-button ">


                  Make Your pet

                  <i class="fa fa-fish-fins"></i>
                </div>
              </a>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
  <!-- Adding more pet -->
  <div class="adding-pet">
    <span><img src="css/images/gear-loader.gif" alt="" srcset=""></span>

    <h3 class="adding-pet-heading">Adding More Pet <span class="adding-pet-dot"><img src="css/images/black-dot.gif"
          alt="" srcset=""></span></h3>


  </div>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom footer-social">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block ">
        <span class="logo-text">Get connected with me on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="social-logo">
        <a href="https://www.facebook.com/profile.php?id=100067140832883" target="_blank" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://www.instagram.com/abhay_desire_yt/" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/ab-ideas-9669711b5/" target="_blank" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Abdev1205" target="_blank" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="footer-content">
      <div class="container text-center text-md-start mt-5 footer-content-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 abhay">
              <i class="fas fa-user-tie font-awesome-abhay"></i> Abhay Mishra
            </h6>

            <p class="stack">
              Full Stack Mern Web Developer
            </p>

            <p>
              <a href="#" target="_blank" style="text-decoration: none;" class="text-reset">About Me</a>
            </p>

            <p>
              <a href="https://abhay1205mishra.github.io/devab.github.io/" target="_blank"
                style="text-decoration: none;" class="text-reset">Portfolio Website</a>
            </p>

            <p>
              <a href="#" target="_blank" style="text-decoration: none;" class="text-reset">Resume</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" style="text-decoration: none;" class="text-reset">Portfolio Website</a>
            </p>
            <p>
              <a href="#!" style="text-decoration: none;" class="text-reset">Make Pet Family</a>
            </p>
            <p>
              <a href="#!" style="text-decoration: none;" class="text-reset">Coming Soon</a>
            </p>
            <p>
              <a href="#!" style="text-decoration: none;" class="text-reset">Coming Soon</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg"
                target="_blank" style="text-decoration: none;" class="text-reset">Wed Development Course</a>
            </p>
            <p>
              <a href="https://stackoverflow.com/" target="_blank" style="text-decoration: none;"
                class="text-reset">Rectify your error</a>
            </p>
            <p>
              <a href="https://github.com/" target="_blank" style="text-decoration: none;"
                class="text-reset">Programmers Community</a>
            </p>
            <p>
              <a href="https://www.google.com/" target="_blank" style="text-decoration: none;" class="text-reset">Best
                Source for programmer</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Korba Chattisgarh India 495452</p>
            <p>
              <i class="fas fa-envelope me-3"></i><a
                href="mailto:abhay.mishra2021@vitbhopal.ac.in?subject = Feedback&body = Message" target="_blank"
                style="text-decoration: none; color:#7e7e7e;">My Email

            </p>


          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center footer-copyright p-4">
      <span class="c">

        © 2021 Copyright:
      </span>
      <a href="https://abhay1205mishra.github.io/devab.github.io/" target="_blank" style="text-decoration: none;"
        class="text-reset">Abhay Mishra</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


  <script>
    var preloader = document.getElementById("loading");

    function render() {
      preloader.style.display = 'none';
    }
  </script>
  </script>
</body>

</html>